#content{
	margin-top:100px;
}

#sidebar{
	position:fixed;
	right:0px;
}
#wrapper{
	min-height:500px;
}

#loader{
	background-image:url(../img/loader.gif);
	background-repeat:no-repeat;
	background-position:center center;
	width:100%;
	height:20px;
	display:none;
}

.table-responsive
{
    overflow-x: hidden;
}
#items .btn{

margin-left: 5px;
margin-bottom: 5px;
float:left;
}